

/* ##### CSS DU BODY #### */
body {
    display: flex;
    height: 100vh;
.tilt-neon-<uniquifier> {
  font-family: "Tilt Neon", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "XROT" 0,
    "YROT" 0;
}
}

/* ##### CSS HEADER ###### */

/* le header contient 3 blocks : logo / article / menu */
/* on met du display flex / column / space-between pour aligner les 3 blocks */
/* on ajuster avec des padding et margin */
.header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 20px 15px 20px;
    width: 50%;
    background-image: url(../images/nicole.jpg);
    background-size: cover;
    background-position: center;
    color: white;
}

/* @@@@@   1er block du header : logo  @@@@@@@ */
/* on rajoute le display flex pour que le block s'aligne avec les autres grace au flex ! */

.block-logo-ecole {
    display: flex;
    gap: 10px;
    font-weight: bold;
    /* line-height = espace entre les lignes */
    line-height: 1.2;
}

.image-logo {
    height: 40px
}

.nom-ecole {
    font-weight: bold;
    font-size: 25px;
    width: 1px;
}

/* @@@@@  2eme block du header : article @@@@@ */

.article-header {
    text-align: right;
    background-color: #f9f9f950;
    text-shadow: 0 0 4px black;
    padding: 10px 24px 30px 300px;
}

.title-article-header{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.article-baseline {
    font-weight: 200;
    font-size: medium;
    font-style: italic;
}

.article-paragraphe {
    margin-top: 10px;
    font-weight: 200;
    line-break: 1.2;

}

/* @@@@@ 3eme block du header : menu @@@@@ */





/* ######  CSS MAIN #### */

main {
    width: 50%;
}

.lastest-news {
    background-color:#f9f9f9 ;
    padding-left: 25px;
    height: 50px;
    margin-top: 0%;
    padding-top: 25px;
    font-size: 1.7rem;
    font-weight: bold;
}




